/* 메인 콘텐츠 */
.content {
  flex: 1;
  padding: 20px;
}

.typhoon-info-wrapper {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.typhoon-path, .typhoon-affected {
  flex: 1;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.box-with-line {
  border: 2px solid #2c3e50;
}

.typhoon-path h3, .typhoon-affected h3 {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #2c3e50;
}

.typhoon-path img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 10px;
}

/* 태풍 피해 예상 지역 리스트 */
.typhoon-affected-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.typhoon-affected-list li {
  margin-bottom: 20px;
  line-height: 1.6;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.typhoon-affected-list li:last-child {
  border-bottom: none;
}

.typhoon-affected-list .date {
  font-size: 14px;
  font-weight: bold;
  color: #2c3e50;
  display: block;
  margin-bottom: 5px;
}

.typhoon-affected-list .event {
  font-size: 16px;
  font-weight: normal;
  color: #333;
  display: block;
  margin-bottom: 5px;
}

.typhoon-affected-list .details {
  font-size: 14px;
  color: #555;
}

